/* screen - index */

.index {
  background-color: var(--white);
  height: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1080px;
}

.index .group-5-IO3Fu5 {
  background-color: transparent;
  height: 614px;
  left: 222px;
  position: absolute;
  top: 169px;
  width: 639px;
}

.index .no-path-iE9OFR {
  background-color: transparent;
  border-radius: 169px;
  display: block;
  height: 292px;
  left: 172px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 292px;
}

.index .no-path-iE9OFR.animate-enter {
  animation: animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .gamezr-play-iE9OFR {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-leelawadeeui-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 168px;
  letter-spacing: 0.00px;
  line-height: 46px;
  position: absolute;
  text-align: center;
  top: 333px;
  white-space: nowrap;
  width: auto;
}

.index .the-subway-surfers-w-iE9OFR {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 195px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 421px;
  width: 639px;
}

.index .install_-btn-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 131px;
  left: 182px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 839px;
  transition: all 0.2s ease;
  width: 717px;
}

.index .install_-btn-IO3Fu5.animate-enter1 {
  animation: animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .install_-btn-IO3Fu5:hover {
  background-color: #4351B3
}

.index .rectangle-5-uoo9mH {
  background-color: #6f80f7;
  border-radius: 66px;
  cursor: pointer;
  height: 131px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 717px;
}

.index .rectangle-5-uoo9mH:hover {
  background-color: #3C4DC0
}

.index .install-app-uoo9mH {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 231px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 41px;
  white-space: nowrap;
  width: auto;
}

.index .group-3-IO3Fu5 {
  background-color: transparent;
  height: 131px;
  left: 182px;
  position: absolute;
  top: 1005px;
  width: 717px;
}

.index .rectangle-6-iyzWYA {
  background-color: #ffed0080;
  border-radius: 66px;
  cursor: pointer;
  height: 131px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 717px;
}

.index .rectangle-6-iyzWYA:hover {
  background-color: #fff
}

.index .more-apps-iyzWYA {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 238px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 41px;
  white-space: nowrap;
  width: auto;
}

.index .group-2-IO3Fu5 {
  background-color: transparent;
  cursor: pointer;
  height: 117px;
  left: 344px;
  pointer-events: auto;
  position: absolute;
  top: 1783px;
  transition: all 0.4s ease;
  width: 394px;
}

.index .group-2-IO3Fu5:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.index .rectangle-7-CDExF9 {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000002e;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 394px;
}

.index .group-1-CDExF9 {
  background-color: transparent;
  height: 36px;
  left: 58px;
  position: absolute;
  top: 40px;
  width: 261px;
}

.index .privacy-policy-Af2kRG {
  background-color: transparent;
  color: #797598;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.index .iconly-bold-shield-done-Af2kRG {
  background-color: transparent;
  height: 35px;
  left: -0px;
  position: absolute;
  top: 1px;
  width: 30px;
}

.index .shield-done-tYULP2 {
  background-color: transparent;
  height: 35px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 30px;
}

.index .path-2-mxMwsL {
  background-color: transparent;
  height: 35px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 30px;
}

.index .group-4-IO3Fu5 {
  background-color: transparent;
  height: 555px;
  left: 97px;
  position: absolute;
  top: 1193px;
  width: 887px;
}

.index .rectangle-8-xlggqe {
  background-color: transparent;
  border-radius: 65px;
  height: 573px;
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -9px;
  width: 434px;
}

.index .rectangle-9-xlggqe {
  background-color: transparent;
  border-radius: 65px;
  height: 573px;
  left: 462px;
  object-fit: cover;
  position: absolute;
  top: -9px;
  width: 434px;
}
