/* screen - index */

.index {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 4.0px 87px;
  width: 100%;
}

.index .no-path {
  border-radius: 169px;
  display: block;
  height: 292px;
  margin-top: 181px;
  object-fit: cover;
  opacity: 0;
  width: 292px;
}

.index .no-path.animate-enter {
  animation: animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .gamezr-play-online {
  color: #3f888a;
  font-family: var(--font-family-leelawadee_ui);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 46px;
  margin-left: 1.34px;
  margin-top: 41px;
  min-height: 64px;
  min-width: 456px;
  white-space: nowrap;
}

.index .span0 {
  color: var(--black);
  font-family: var(--font-family-leelawadeeui-bold);
}

.index .span1 {
  font-family: var(--font-family-leelawadeeui-bold);
}

.index .the-subway-surfers-w {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 195px;
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 2.0px;
  margin-top: 24px;
  text-align: center;
  width: 639px;
}

.index .install_-btn {
  cursor: pointer;
  height: 131px;
  margin-right: 0;
  margin-top: 54px;
  opacity: 0;
  transition: all 0.2s ease;
  width: 717px;
}

.index .install_-btn.animate-enter1 {
  animation: animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.index .install_-btn:hover {
  background-color: #4351B3
}

.index .overlap-group {
  border-radius: 66px;
  height: 131px;
  position: relative;
}

.index .rectangle-5 {
  background-color: #6f80f7;
  border-radius: 66px;
  cursor: pointer;
  height: 131px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 717px;
}

.index .rectangle-5:hover {
  background-color: #3C4DC0
}

.index .title {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 231px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 41px;
  white-space: nowrap;
}

.index .group-3 {
  align-items: flex-start;
  display: flex;
  margin-right: 0;
  margin-top: 35px;
  min-width: 717px;
}

.index .overlap-group1 {
  border-radius: 66px;
  height: 131px;
  position: relative;
  width: 717px;
}

.index .rectangle-6 {
  background-color: #ffed0080;
  border-radius: 66px;
  cursor: pointer;
  height: 131px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 717px;
}

.index .rectangle-6:hover {
  background-color: #fff
}

.index .more-apps {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 238px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 41px;
  white-space: nowrap;
}

.index .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 48px;
  min-width: 905px;
}

.index .rectangle-8 {
  border-radius: 65px;
  height: 573px;
  object-fit: cover;
  width: 434px;
}

.index .rectangle-9 {
  border-radius: 65px;
  height: 573px;
  margin-left: 37px;
  object-fit: cover;
  width: 434px;
}

.index .group-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000002e;
  cursor: pointer;
  display: flex;
  height: 117px;
  margin-right: 0;
  margin-top: 26px;
  min-width: 394px;
  padding: 40.5px 57.9px;
  transition: all 0.4s ease;
}

.index .group-2:hover {
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
}

.index .iconly-bold-shield-done {
  align-self: flex-end;
  background-image: url(../img/path-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 35px;
  width: 30px;
}

.index .privacy-policy {
  color: #797598;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 0.18px;
  margin-left: 11px;
  min-height: 33px;
  min-width: 220px;
  white-space: nowrap;
}
