/* screen - mobile-1920x1080 */

.mobile-1920x1080 {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.mobile-1920x1080 .rectangle-1-uUcPAK {
  background-color: #6f79f708;
  border-radius: 257px;
  display: block;
  height: 1340px;
  left: -190px;
  opacity: 0;
  position: absolute;
  top: -648px;
  transform: rotate(45.00deg);
  width: 994px;
}

.mobile-1920x1080 .rectangle-1-uUcPAK.animate-enter {
  animation: animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-1920x1080 .rectangle-8-uUcPAK {
  background-color: var(--blueberry-2);
  border-radius: 257px;
  display: block;
  height: 1340px;
  left: 835px;
  opacity: 0;
  position: absolute;
  top: 641px;
  transform: rotate(43.00deg);
  width: 994px;
}

.mobile-1920x1080 .rectangle-8-uUcPAK.animate-enter1 {
  animation: animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-1920x1080 .no-path-uUcPAK {
  background-color: transparent;
  border-radius: 110px;
  display: block;
  height: 226px;
  left: 358px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 198px;
  width: 226px;
}

.mobile-1920x1080 .no-path-uUcPAK.animate-enter2 {
  animation: animate-enter2-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-1920x1080 .gamezr-play-online-uUcPAK {
  background-color: transparent;
  color: #30dfc2;
  font-family: var(--font-family-ebrima);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: auto;
  left: 294px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 456px;
  white-space: nowrap;
  width: auto;
}

.mobile-1920x1080 .span0-vfiDBr {
  color: var(--black);
  font-family: var(--font-family-ebrima-bold);
  font-style: normal;
}

.mobile-1920x1080 .span1-vfiDBr {
  font-family: var(--font-family-ebrima-bold);
  font-style: normal;
}

.mobile-1920x1080 .the-subway-surfers-w-uUcPAK {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: 132px;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 530px;
  width: 683px;
}

.mobile-1920x1080 .install_-btn-uUcPAK {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 93px;
  left: 218px;
  opacity: 0;
  position: absolute;
  top: 691px;
  width: 507px;
}

.mobile-1920x1080 .install_-btn-uUcPAK.animate-enter3 {
  animation: animate-enter3-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-1920x1080 .rectangle-5-v7oudi {
  background-color: var(--blueberry);
  border-radius: 63px;
  box-shadow: 0px 0px 30px #342ee44d;
  cursor: pointer;
  height: 93px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 507px;
}

.mobile-1920x1080 .rectangle-5-v7oudi:hover {
  background-color: #3C4DC0
}

.mobile-1920x1080 .install-app-v7oudi {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 169px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 29px;
  white-space: nowrap;
  width: auto;
}

.mobile-1920x1080 .group-5-uUcPAK {
  background-color: transparent;
  height: 93px;
  left: 218px;
  position: absolute;
  top: 815px;
  width: 507px;
}

.mobile-1920x1080 .rectangle-6-exltUJ {
  background-color: var(--alabaster);
  border-radius: 63px;
  box-shadow: 0px 0px 6px #00000029;
  cursor: pointer;
  height: 93px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 507px;
}

.mobile-1920x1080 .rectangle-6-exltUJ:hover {
  background-color: #fff
}

.mobile-1920x1080 .more-apps-exltUJ {
  background-color: transparent;
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 169px;
  letter-spacing: 0.00px;
  line-height: 33px;
  position: absolute;
  text-align: center;
  top: 30px;
  white-space: nowrap;
  width: auto;
}

.mobile-1920x1080 .group-6-uUcPAK {
  background-color: transparent;
  height: 1202px;
  left: 864px;
  position: absolute;
  top: 276px;
  width: 676px;
}

.mobile-1920x1080 .rectangle-9-2Tyxg4 {
  background-color: var(--blueberry);
  border: 6px solid var(--white);
  border-radius: 70px;
  box-shadow: 0px 0px 20px #1111d185;
  height: 1202px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 676px;
}

.mobile-1920x1080 .no-path-copy-7-2Tyxg4 {
  background-color: transparent;
  border-radius: 58px;
  height: 1153px;
  left: 14px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 649px;
}

.mobile-1920x1080 .group-7-uUcPAK {
  background-color: transparent;
  height: 1202px;
  left: 1113px;
  position: absolute;
  top: 152px;
  width: 676px;
}

.mobile-1920x1080 .rectangle-9-fZdok6 {
  background-color: var(--blueberry);
  border: 6px solid var(--white);
  border-radius: 65px;
  box-shadow: 0px 0px 20px #1111d185;
  height: 1202px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 676px;
}

.mobile-1920x1080 .no-path-copy-6-fZdok6 {
  background-color: transparent;
  border-radius: 60px;
  height: 1153px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 649px;
}

.mobile-1920x1080 .group-8-uUcPAK {
  background-color: transparent;
  cursor: pointer;
  height: 88px;
  left: 1591px;
  pointer-events: auto;
  position: absolute;
  top: 953px;
  transition: all 0.3s ease;
  width: 293px;
}

.mobile-1920x1080 .group-8-uUcPAK:hover {
  filter: blur(10px);
}

.mobile-1920x1080 .rectangle-7-VM3l6Y {
  background-color: var(--waterloo-);
  border: 4px solid var(--black);
  border-radius: 20px;
  box-shadow: 0px 0px 20px #0000ff40;
  height: 88px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 293px;
}

.mobile-1920x1080 .group-1-VM3l6Y {
  background-color: transparent;
  height: 27px;
  left: 43px;
  position: absolute;
  top: 31px;
  width: 196px;
}

.mobile-1920x1080 .privacy-policy-tCeWQo {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}

.mobile-1920x1080 .iconly-bold-shield-done-tCeWQo {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 22px;
}

.mobile-1920x1080 .shield-done-GIxMFz {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 22px;
}

.mobile-1920x1080 .path-2-CErJsR {
  background-color: transparent;
  height: 26px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 22px;
}
