/* screen - full-project */

.full-project {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 720px;
  overflow: hidden;
  padding: 0 37.0px;
  width: 1280px;
}

.full-project .group-9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  margin-top: 126px;
  min-height: 468px;
  width: 511px;
}

.full-project .no-path {
  border-radius: 110px;
  display: block;
  height: 115px;
  margin-right: 3.38px;
  object-fit: cover;
  opacity: 0;
  width: 114px;
}

.full-project .no-path.bp2-animate-enter {
  animation: bp2-animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .gamezr-play-online {
  color: var(--lochinvar);
  font-family: var(--font-family-candara);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26px;
  margin-left: 0.28px;
  margin-top: 33px;
  min-height: 34px;
  min-width: 231px;
  white-space: nowrap;
}

.full-project .span0 {
  color: var(--black);
  font-family: var(--font-family-candara-bold);
}

.full-project .span1 {
  font-family: var(--font-family-candara-bold);
}

.full-project .the-subway-surfers-w {
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 90px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 25px;
  text-align: center;
  width: 511px;
}

.full-project .install_-btn {
  cursor: pointer;
  height: 61px;
  margin-right: 2.65px;
  margin-top: 28px;
  opacity: 0;
  width: 302px;
}

.full-project .install_-btn.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.full-project .overlap-group {
  border-radius: 31px;
  height: 61px;
  position: relative;
}

.full-project .rectangle-5 {
  background-color: var(--lochinvar);
  border-radius: 31px;
  box-shadow: 0px 0px 30px #27c07966;
  cursor: pointer;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 302px;
}

.full-project .rectangle-5:hover {
  background-color: #3C4DC0
}

.full-project .install-app {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 105px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
}

.full-project .overlap-group1 {
  border-radius: 63px;
  height: 61px;
  margin-right: 2.65px;
  margin-top: 21px;
  position: relative;
  width: 302px;
}

.full-project .rectangle-6 {
  background-color: #fafafa;
  border-radius: 63px;
  box-shadow: 0px 0px 6px #00000029;
  cursor: pointer;
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 302px;
}

.full-project .rectangle-6:hover {
  background-color: #fff
}

.full-project .more-apps {
  color: #463e89;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 105px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
}

.full-project .group-container {
  height: 758px;
  margin-left: 57px;
  margin-top: 94.36px;
  position: relative;
  width: 580px;
}

.full-project .group-6 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 70px;
  box-shadow: 0px 0px 20px #11d17d85;
  display: flex;
  height: 687px;
  justify-content: flex-end;
  left: 0;
  min-width: 386px;
  padding: 10.9px 5.0px;
  position: absolute;
  top: 71px;
}

.full-project .no-path-copy-7 {
  border-radius: 58px;
  height: 659px;
  object-fit: cover;
  width: 371px;
}

.full-project .group-7 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 55px;
  box-shadow: 0px 0px 20px #11d17d85;
  display: flex;
  height: 687px;
  left: 136px;
  min-width: 386px;
  padding: 10.0px 9.2px;
  position: absolute;
  top: 0;
}

.full-project .no-path-copy-6 {
  border-radius: 50px;
  height: 654px;
  object-fit: cover;
  width: 368px;
}

.full-project .group-8 {
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 20px #0000ff40;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 378px;
  min-width: 202px;
  padding: 18.0px 28.8px;
  position: absolute;
  top: 533px;
  transition: all 0.3s ease;
}

.full-project .group-8:hover {
  filter: blur(10px);
}

.full-project .iconly-bold-shield-done {
  background-image: url(../img/path-2@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 20px;
  margin-bottom: 0.13px;
  width: 17px;
}

.full-project .privacy-policy {
  align-self: flex-end;
  color: #463e89;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xs);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 15px;
  margin-left: 6px;
  min-height: 19px;
  min-width: 119px;
  white-space: nowrap;
}
/* screen - mobile-720x1280 */

.mobile-720x1280 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1280px;
  overflow: hidden;
  width: 720px;
}

.mobile-720x1280 .overlap-group-container {
  height: 2744px;
  margin-left: -685px;
  margin-top: -965.8px;
  position: relative;
  width: 2201px;
}

.mobile-720x1280 .overlap-group3 {
  height: 1294px;
  left: 766px;
  position: absolute;
  top: 1450px;
  width: 1434px;
}

.mobile-720x1280 .rectangle-8 {
  background-color: #6f79f70f;
  border-radius: 257px;
  height: 1046px;
  left: 449px;
  opacity: 0;
  position: absolute;
  top: 124px;
  transform: rotate(30.00deg);
  width: 776px;
}

.mobile-720x1280 .rectangle-8.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .group-4 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 88px;
  box-shadow: 0px 0px 40px #0077ff6e;
  display: flex;
  height: 991px;
  left: 0;
  min-width: 558px;
  padding: 12px 11px;
  position: absolute;
  top: 126px;
}

.mobile-720x1280 .no-path-copy-4 {
  border-radius: 75px;
  display: block;
  height: 954px;
  object-fit: cover;
  opacity: 0;
  width: 534px;
}

.mobile-720x1280 .no-path-copy-4.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .group-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000002e;
  cursor: pointer;
  display: flex;
  height: 74px;
  justify-content: flex-end;
  left: 363px;
  min-width: 246px;
  padding: 24.3px 34.1px;
  position: absolute;
  top: 684px;
  transition: all 0.3s ease;
}

.mobile-720x1280 .group-2:hover {
  filter: blur(10px);
}

.mobile-720x1280 .iconly-bold-shield-done-1 {
  background-image: url(../img/path-2-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  margin-top: 0.61px;
  width: 19px;
}

.mobile-720x1280 .privacy-policy-1 {
  align-self: flex-end;
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 19px;
  margin-left: 7px;
  min-height: 23px;
  min-width: 150px;
  white-space: nowrap;
}

.mobile-720x1280 .overlap-group2 {
  height: 1657px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1531px;
}

.mobile-720x1280 .rectangle-1 {
  background-color: #6f79f70f;
  border-radius: 257px;
  height: 1340px;
  left: 268px;
  opacity: 0;
  position: absolute;
  top: 159px;
  transform: rotate(30.00deg);
  width: 994px;
}

.mobile-720x1280 .rectangle-1.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .no-path-1 {
  border-radius: 58px;
  display: block;
  height: 115px;
  left: 765px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 1070px;
  width: 115px;
}

.mobile-720x1280 .no-path-1.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .title {
  color: #3f888a;
  font-family: var(--font-family-ebrima);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  left: 900px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 1074px;
  white-space: nowrap;
}

.mobile-720x1280 .span0-1 {
  color: var(--black);
  font-family: var(--font-family-ebrima-bold);
}

.mobile-720x1280 .span1-1 {
  font-family: var(--font-family-ebrima-bold);
}

.mobile-720x1280 .the-subway-surfers-w-1 {
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 157px;
  left: 900px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 1129px;
  width: 431px;
}

.mobile-720x1280 .install_-btn-1 {
  cursor: pointer;
  height: 82px;
  left: 822px;
  opacity: 0;
  position: absolute;
  top: 1334px;
  width: 447px;
}

.mobile-720x1280 .install_-btn-1.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 0.30s ease 0.00s 1 normal forwards;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .overlap-group-1 {
  border-radius: 63px;
  height: 82px;
  position: relative;
}

.mobile-720x1280 .rectangle-5-1 {
  background-color: #6f80f7;
  border-radius: 63px;
  box-shadow: 0px 0px 30px #342ee44d;
  cursor: pointer;
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 447px;
}

.mobile-720x1280 .rectangle-5-1:hover {
  background-color: #3C4DC0
}

.mobile-720x1280 .install-app-1 {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 149px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
}

.mobile-720x1280 .overlap-group1-1 {
  border-radius: 63px;
  height: 82px;
  left: 822px;
  position: absolute;
  top: 1444px;
  width: 447px;
}

.mobile-720x1280 .rectangle-6-1 {
  background-color: #fafafa;
  border-radius: 63px;
  box-shadow: 0px 0px 6px #00000029;
  cursor: pointer;
  height: 82px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 447px;
}

.mobile-720x1280 .rectangle-6-1:hover {
  background-color: #fff
}

.mobile-720x1280 .more-apps-1 {
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 149px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
}
@media screen and (max-width: 1279px) {
  .screen.full-project { 
    display: none;
   }
}
@media screen and (min-width: 1280px) {
  .screen.mobile-720x1280 { 
    display: none;
   }
}