/* screen - mobile-1230-all-breakpoints */

.mobile-1230-all-breakpoints {
  background-color: var(--white);
  height: 720px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1280px;
}

.mobile-1230-all-breakpoints .group-6-dZ36y6 {
  background-color: transparent;
  height: 687px;
  left: 663px;
  position: absolute;
  top: 166px;
  width: 386px;
}

.mobile-1230-all-breakpoints .rectangle-9-60JBpk {
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 70px;
  box-shadow: 0px 0px 20px #11d17d85;
  height: 687px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 386px;
}

.mobile-1230-all-breakpoints .no-path-copy-7-60JBpk {
  background-color: transparent;
  border-radius: 58px;
  height: 659px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 371px;
}

.mobile-1230-all-breakpoints .group-7-dZ36y6 {
  background-color: transparent;
  height: 687px;
  left: 799px;
  position: absolute;
  top: 94px;
  width: 386px;
}

.mobile-1230-all-breakpoints .rectangle-9-EbIelc {
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 55px;
  box-shadow: 0px 0px 20px #11d17d85;
  height: 687px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 386px;
}

.mobile-1230-all-breakpoints .no-path-copy-6-EbIelc {
  background-color: transparent;
  border-radius: 50px;
  height: 654px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 368px;
}

.mobile-1230-all-breakpoints .group-9-dZ36y6 {
  background-color: transparent;
  height: 468px;
  left: 95px;
  position: absolute;
  top: 126px;
  width: 511px;
}

.mobile-1230-all-breakpoints .no-path-QRDi3J {
  background-color: transparent;
  border-radius: 110px;
  display: block;
  height: 115px;
  left: 196px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 114px;
}

.mobile-1230-all-breakpoints .no-path-QRDi3J.bp2-animate-enter {
  animation: bp2-animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-1230-all-breakpoints .gamezr-play-online-QRDi3J {
  background-color: transparent;
  color: var(--lochinvar);
  font-family: var(--font-family-candara);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height: auto;
  left: 140px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: 148px;
  white-space: nowrap;
  width: auto;
}

.mobile-1230-all-breakpoints .span0-kcY8Na {
  color: var(--black);
  font-family: var(--font-family-candara-bold);
  font-style: normal;
}

.mobile-1230-all-breakpoints .span1-kcY8Na {
  font-family: var(--font-family-candara-bold);
  font-style: normal;
}

.mobile-1230-all-breakpoints .the-subway-surfers-w-QRDi3J {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
  height: 90px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 207px;
  width: 511px;
}

.mobile-1230-all-breakpoints .install_-btn-QRDi3J {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 61px;
  left: 103px;
  opacity: 0;
  position: absolute;
  top: 325px;
  width: 302px;
}

.mobile-1230-all-breakpoints .install_-btn-QRDi3J.bp2-animate-enter1 {
  animation: bp2-animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp2-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-1230-all-breakpoints .rectangle-5-nK1ghN {
  background-color: var(--lochinvar);
  border-radius: 31px;
  box-shadow: 0px 0px 30px #27c07966;
  cursor: pointer;
  height: 61px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 302px;
}

.mobile-1230-all-breakpoints .rectangle-5-nK1ghN:hover {
  background-color: #3C4DC0
}

.mobile-1230-all-breakpoints .install-app-nK1ghN {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.mobile-1230-all-breakpoints .group-5-QRDi3J {
  background-color: transparent;
  height: 61px;
  left: 103px;
  position: absolute;
  top: 407px;
  width: 302px;
}

.mobile-1230-all-breakpoints .rectangle-6-89gl2Y {
  background-color: var(--alabaster);
  border-radius: 63px;
  box-shadow: 0px 0px 6px #00000029;
  cursor: pointer;
  height: 61px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 302px;
}

.mobile-1230-all-breakpoints .rectangle-6-89gl2Y:hover {
  background-color: #fff
}

.mobile-1230-all-breakpoints .more-apps-89gl2Y {
  background-color: transparent;
  color: #463e89;
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 105px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.mobile-1230-all-breakpoints .group-8-dZ36y6 {
  background-color: transparent;
  cursor: pointer;
  height: 60px;
  left: 1041px;
  pointer-events: auto;
  position: absolute;
  top: 627px;
  transition: all 0.3s ease;
  width: 202px;
}

.mobile-1230-all-breakpoints .group-8-dZ36y6:hover {
  filter: blur(10px);
}

.mobile-1230-all-breakpoints .rectangle-7-ZjXeHF {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 20px #0000ff40;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 202px;
}

.mobile-1230-all-breakpoints .group-1-ZjXeHF {
  background-color: transparent;
  height: 20px;
  left: 31px;
  position: absolute;
  top: 20px;
  width: 142px;
}

.mobile-1230-all-breakpoints .privacy-policy-7cFdCx {
  background-color: transparent;
  color: #463e89;
  font-family: var(--font-family-arial-bold);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.mobile-1230-all-breakpoints .iconly-bold-shield-done-7cFdCx {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 17px;
}

.mobile-1230-all-breakpoints .shield-done-0uxmqS {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 17px;
}

.mobile-1230-all-breakpoints .path-2-T7YpQQ {
  background-color: transparent;
  height: 20px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 17px;
}
/* screen - mobile-720x1280 */

.mobile-720x1280 {
  background-color: var(--white);
  height: 1280px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 720px;
}

.mobile-720x1280 .rectangle-8-1UpSUc {
  background-color: var(--blueberry-2);
  border-radius: 257px;
  display: block;
  height: 1046px;
  left: 530px;
  opacity: 0;
  position: absolute;
  top: 608px;
  transform: rotate(30.00deg);
  width: 776px;
}

.mobile-720x1280 .rectangle-8-1UpSUc.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .rectangle-1-1UpSUc {
  background-color: var(--blueberry-2);
  border-radius: 257px;
  display: block;
  height: 1340px;
  left: -417px;
  opacity: 0;
  position: absolute;
  top: -807px;
  transform: rotate(30.00deg);
  width: 994px;
}

.mobile-720x1280 .rectangle-1-1UpSUc.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .no-path-1UpSUc {
  background-color: transparent;
  border-radius: 58px;
  display: block;
  height: 115px;
  left: 80px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 104px;
  width: 115px;
}

.mobile-720x1280 .no-path-1UpSUc.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .gamezr-play-online-1UpSUc {
  background-color: transparent;
  color: #3f888a;
  font-family: var(--font-family-ebrima);
  font-size: var(--font-size-l);
  font-weight: 700;
  height: auto;
  left: 215px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 108px;
  white-space: nowrap;
  width: auto;
}

.mobile-720x1280 .span0-0ghow7 {
  color: var(--black);
  font-family: var(--font-family-ebrima-bold);
  font-style: normal;
}

.mobile-720x1280 .span1-0ghow7 {
  font-family: var(--font-family-ebrima-bold);
  font-style: normal;
}

.mobile-720x1280 .the-subway-surfers-w-1UpSUc {
  background-color: transparent;
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  height: 157px;
  left: 215px;
  letter-spacing: 0.00px;
  line-height: 30px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 163px;
  width: 431px;
}

.mobile-720x1280 .install_-btn-1UpSUc {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 82px;
  left: 136px;
  opacity: 0;
  position: absolute;
  top: 369px;
  width: 447px;
}

.mobile-720x1280 .install_-btn-1UpSUc.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .rectangle-5-jD19tC {
  background-color: var(--blueberry);
  border-radius: 63px;
  box-shadow: 0px 0px 30px #342ee44d;
  cursor: pointer;
  height: 82px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 447px;
}

.mobile-720x1280 .rectangle-5-jD19tC:hover {
  background-color: #3C4DC0
}

.mobile-720x1280 .install-app-jD19tC {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: auto;
}

.mobile-720x1280 .group-3-1UpSUc {
  background-color: transparent;
  height: 82px;
  left: 136px;
  position: absolute;
  top: 478px;
  width: 447px;
}

.mobile-720x1280 .rectangle-6-a5pb6n {
  background-color: var(--alabaster);
  border-radius: 63px;
  box-shadow: 0px 0px 6px #00000029;
  cursor: pointer;
  height: 82px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 447px;
}

.mobile-720x1280 .rectangle-6-a5pb6n:hover {
  background-color: #fff
}

.mobile-720x1280 .more-apps-a5pb6n {
  background-color: transparent;
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: auto;
}

.mobile-720x1280 .group-4-1UpSUc {
  background-color: transparent;
  height: 991px;
  left: 81px;
  position: absolute;
  top: 610px;
  width: 558px;
}

.mobile-720x1280 .rectangle-2-bcxYpg {
  background-color: var(--white);
  border-radius: 88px;
  box-shadow: 0px 0px 40px #0077ff6e;
  height: 991px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 558px;
}

.mobile-720x1280 .no-path-copy-4-bcxYpg {
  background-color: transparent;
  border-radius: 75px;
  display: block;
  height: 954px;
  left: 11px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  top: 12px;
  width: 534px;
}

.mobile-720x1280 .no-path-copy-4-bcxYpg.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 0.30s ease 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mobile-720x1280 .group-2-1UpSUc {
  background-color: transparent;
  cursor: pointer;
  height: 74px;
  left: 444px;
  pointer-events: auto;
  position: absolute;
  top: 1168px;
  transition: all 0.3s ease;
  width: 246px;
}

.mobile-720x1280 .group-2-1UpSUc:hover {
  filter: blur(10px);
}

.mobile-720x1280 .rectangle-7-Y6aocR {
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000002e;
  height: 74px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 246px;
}

.mobile-720x1280 .group-1-Y6aocR {
  background-color: transparent;
  height: 23px;
  left: 36px;
  position: absolute;
  top: 26px;
  width: 176px;
}

.mobile-720x1280 .privacy-policy-4jxfU6 {
  background-color: transparent;
  color: var(--waterloo-);
  font-family: var(--font-family-arial-bold);
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: auto;
}

.mobile-720x1280 .iconly-bold-shield-done-4jxfU6 {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 19px;
}

.mobile-720x1280 .shield-done-x9nz6W {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 19px;
}

.mobile-720x1280 .path-2-MCHqZl {
  background-color: transparent;
  height: 22px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 19px;
}
@media screen and (max-width: 1279px) {
  .screen.mobile-1230-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1280px) {
  .screen.mobile-720x1280 { 
    display: none;
   }
}