:root { 
  --black: #000000;
  --silver: #c0c0c0;
 
  --font-size-l: 23px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xs: 15px;
 
  --font-family-simplified_arabic: "Simplified Arabic", Helvetica;
  --font-family-source_sans_pro: "Source Sans Pro", Helvetica;
}
.sourcesanspro-normal-silver-20px {
  color: var(--silver);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
}

.sourcesanspro-black-black-20px {
  color: var(--black);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}

.sourcesanspro-normal-silver-18px {
  color: var(--silver);
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
