:root { 
  --black: #000000;
  --lochinvar: #3e8987;
  --waterloo-: #797598;
  --white: #ffffff;
 
  --font-size-l: 39px;
  --font-size-m: 30px;
  --font-size-s: 26px;
  --font-size-xl: 43px;
  --font-size-xs: 25px;
  --font-size-xxs: 20px;
  --font-size-xxxs: 18px;
 
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-candara: "Candara", Helvetica;
  --font-family-candara-bold: "Candara-Bold", Helvetica;
  --font-family-ebrima: "Ebrima", Helvetica;
  --font-family-ebrima-bold: "Ebrima-Bold", Helvetica;
}
:root {
}
