/* screen - tow */

.tow {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  height: 760px;
  min-width: 1366px;
  padding: 0 107px;
}

.tow .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-top: 178px;
  min-height: 404px;
  width: 419px;
}

.tow .flex-row {
  align-items: flex-start;
  display: flex;
  margin-left: 0.5px;
  min-width: 311px;
}

.tow .profile-pic_0bb77c12 {
  background-image: url(../img/bg@1x.png);
  background-size: 100% 100%;
  filter: blur(10px);
  height: 127px;
  opacity: 0;
  position: relative;
  width: 126px;
}

.tow .profile-pic_0bb77c12.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.50s ease 0.30s 1 normal forwards;
  filter: blur(10px);
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.tow .prof_fd048300-4c46-4 {
  height: 121px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 122px;
}

.tow .title_b64da79a-6758 {
  align-items: flex-start;
  display: flex;
  height: 107px;
  margin-left: 19px;
  margin-top: 2.62px;
  min-width: 166px;
}

.tow .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-bottom: -4.0px;
  min-height: 104px;
  width: 143px;
}

.tow .overlap-group {
  height: 74px;
  position: relative;
  width: 143px;
}

.tow .selena-gomeez-_437a2 {
  color: var(--black);
  font-family: var(--font-family-simplified_arabic);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
}

.tow .place {
  color: #c6c6c6;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-s);
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 30px;
}

.tow .fashion-art-music {
  color: #6e6e6e;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xs);
  left: 0;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  top: 53px;
}

.tow .wwwmyworkcom_6a8a5 {
  color: #5c8bf8;
  cursor: pointer;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-xs);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 15px;
  margin-top: 9px;
  min-height: 21px;
  transition: all 0.5s ease;
}

.tow .wwwmyworkcom_6a8a5:hover {
  transform: scale(0.9); 
}

.tow .verfy-icon_8beccc3c {
  display: block;
  height: 18px;
  margin-left: 4px;
  margin-top: 8.37px;
  opacity: 0;
  transform: scale(0.9);
  width: 18px;
}

.tow .verfy-icon_8beccc3c.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 0.60s ease 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(0.9);
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tow .details_60838ee3-67d {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 52px;
  min-height: 102px;
  width: 419px;
}

.tow .line-1_5a02c017-d10c {
  height: 1px;
  width: 419px;
}

.tow .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 50px;
  margin-left: 1.28px;
  margin-top: 32px;
  min-width: 301px;
}

.tow .x21posts_563f3ce2-75 {
  letter-spacing: 0;
  line-height: 18px;
  min-height: 50px;
  min-width: 42px;
  text-align: center;
}

.tow .x27mfollowers_dd8b1e {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 62px;
  min-height: 50px;
  min-width: 74px;
  text-align: center;
}

.tow .x240following_16815e {
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 47px;
  min-height: 50px;
  min-width: 76px;
  text-align: center;
}

.tow .line-2_9b64137b-4023 {
  height: 1px;
  margin-top: 19px;
  width: 419px;
}

.tow .follow-button_da34a7 {
  align-self: center;
  cursor: pointer;
  height: 69px;
  margin-right: 19.72px;
  margin-top: 54px;
  opacity: 0;
  transform: scale(0.9);
  width: 262px;
}

.tow .follow-button_da34a7.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 0.50s ease 0.30s 1 normal forwards;
  opacity: 0;
  transform: scale(0.9);
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
transform: scale(0.9);
}
to{opacity: 1;
transform: scale(1);
}
}

.tow .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/button-bg@1x.png);
  background-size: 100% 100%;
  border-radius: 6px;
  display: flex;
  height: 105px;
  justify-content: flex-end;
  left: -18px;
  min-width: 298px;
  padding: 33px 86px;
  position: relative;
  top: -18px;
}

.tow .follow-me_2eb51e03-2 {
  color: #ffffff;
  font-family: var(--font-family-source_sans_pro);
  font-size: var(--font-size-l);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 23px;
  min-height: 31px;
  min-width: 124px;
  text-align: center;
}

.tow .pics_ea94fb7e-7660-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 71px;
  margin-top: 170px;
  min-height: 420px;
  width: 642px;
}

.tow .flex-row-2 {
  align-items: flex-start;
  display: flex;
  min-width: 642px;
}

.tow .x1_7d1b1430-7cf2-4d70-a0d5-5b3d4f6868ae {
  border-radius: 36px;
  height: 202px;
  width: 202px;
}

.tow .flex-row-item {
  border-radius: 36px;
  height: 202px;
  margin-left: 18px;
  width: 202px;
}

.tow .flex-row-3 {
  align-items: flex-start;
  display: flex;
  margin-left: 1px;
  margin-top: 16px;
  min-width: 641px;
}

.tow .x5_1d9b5f4e-8b61-49af-a06c-ae7f20db6fb1 {
  border-radius: 36px;
  height: 202px;
  width: 423px;
}

.tow .x4_26e72573-e690-4207-9785-2097f797e5f5 {
  border-radius: 36px;
  height: 202px;
  margin-left: 17px;
  width: 201px;
}
